:root {
    --bg-color: #282828;
    --text-color: white;
    --green: #3c9;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li::marker {
    font-size: 0.75em;
}

a {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 a {
    text-decoration: none;
}

a:hover {
    color: var(--green);
    text-decoration: underline;
}

.altfont {
    font-family: "Montserrat Alternates", sans-serif;
}

.italic {
    font-style: italic;
}